body {
    background-color: #e4e9e2; 
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2f3e46ff; 
    font-size: 40px;
    font-family: 'Merriweather', Georgia, serif;
    
}
a:link, a:visited, a:focus {
    color: #2f3e46ff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover, a:active {
    color: #2f3e46ff;
    text-decoration: underline dashed;
}
img .profile-pic {
    max-height: 1em;
    
}
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-height: 1em;
}
.nav-item {
    font-size: 0.5em;
    margin: 10px 50px;
}
.profile-pic {
    max-height: 1em;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 1000px;
    margin: 2rem 2rem;
}
article {
}
footer {
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
footer p {
    font-size: ;
}